
module my-chmod 1.0;

require {
	type container_t;
	type postgresql_db_t;
	class dir setattr;
}

#============= container_t ==============
allow container_t postgresql_db_t:dir setattr;
